@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

$font-default: 'Libre Franklin', sans-serif;

$colour-primary: #008378;
$colour-secondary: #f8f8f0;
$colour-tertiary: #6b5c43;